In [7]:
import numpy as np         #numpy is used for most of the mathematical (as np ables us to use it as a shortcut)
import matplotlib.pyplot as plt     # for charts and graphs
import pandas as pd

dataset = pd.read_csv('/kaggle/input/flight-price-prediction/Clean_Dataset.csv')   

dataset.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [8]:
def get_df_info(df):
    print("\n\033[1mShape of DataFrame:\033[0m ", df.shape)
    print("\n\033[1mColumns in DataFrame:\033[0m ", df.columns.to_list())
    print("\n\033[1mData types of columns:\033[0m\n", df.dtypes)
    
    print("\n\033[1mInformation about DataFrame:\033[0m")
    df.info()
    
    print("\n\033[1mNumber of unique values in each column:\033[0m")
    for col in df.columns:
        print(f"\033[1m{col}\033[0m: {df[col].nunique()}")
        
    print("\n\033[1mNumber of null values in each column:\033[0m\n", df.isnull().sum())
    
    print("\n\033[1mNumber of duplicate rows:\033[0m ", df.duplicated().sum())
    
    print("\n\033[1mDescriptive statistics of DataFrame:\033[0m\n", df.describe().transpose())

# Call the function
get_df_info(dataset)

Shape of DataFrame:  (300153, 12)

Columns in DataFrame:  ['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time', 'stops', 'arrival_time', 'destination_city', 'class', 'duration', 'days_left', 'price']

Data types of columns:
 Unnamed: 0            int64
airline              object
flight               object
source_city          object
departure_time       object
stops                object
arrival_time         object
destination_city     object
class                object
duration            float64
days_left             int64
price                 int64
dtype: object

Information about DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB

Number of unique values in each column:
Unnamed: 0: 300153
airline: 6
flight: 1561
source_city: 6
departure_time: 6
stops: 3
arrival_time: 6
destination_city: 6
class: 2
duration: 476
days_left: 49
price: 12157

Number of null values in each column:
 Unnamed: 0          0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

Number of duplicate rows:  0

Descriptive statistics of DataFrame:
                count           mean           std      min       25%  \
Unnamed: 0  300153.0  150076.000000  86646.852011     0.00  75038.00
duration    300153.0      12.221021      7.191997     0.83      6.83
days_left   300153.0      26.004751     13.561004     1.00     15.00
price       300153.0   20889.660523  22697.767366  1105.00   4783.00

                  50%        75%        max
Unnamed: 0  150076.00  225114.00  300152.00
duration        11.25      16.17      49.83
days_left       26.00      38.00      49.00
price         7425.00   42521.00  123071.00

In [9]:
X_num=dataset[['duration','days_left']]
X_cat=dataset.drop(columns=['duration','days_left','Unnamed: 0','price'])
X_num.head()

   duration  days_left
0      2.17          1
1      2.33          1
2      2.17          1
3      2.25          1
4      2.33          1

In [10]:
X_cat.head()

,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class
0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy
1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy
2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy
3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy
4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy

In [11]:
X_cat = pd.get_dummies(X_cat, columns=['airline'], drop_first=True)
X_cat = pd.get_dummies(X_cat, columns=['flight'], drop_first=True)
X_cat = pd.get_dummies(X_cat, columns=['source_city'], drop_first=True)
X_cat = pd.get_dummies(X_cat, columns=['departure_time'], drop_first=True)
X_cat = pd.get_dummies(X_cat, columns=['stops'], drop_first=True)
X_cat = pd.get_dummies(X_cat, columns=['arrival_time'], drop_first=True)
X_cat = pd.get_dummies(X_cat, columns=['destination_city'], drop_first=True)
X_cat = pd.get_dummies(X_cat, columns=['class'], drop_first=True)
X_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Columns: 1588 entries, airline_Air_India to class_Economy
dtypes: bool(1588)
memory usage: 454.6 MB

In [12]:
X_cat=X_cat.astype(float)

In [13]:


from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_num = sc_X.fit_transform(X_num)

In [14]:
y=dataset['price'].values

In [15]:
X = np.concatenate([X_num, X_cat],axis=1)

from sklearn.model_selection import train_test_split
X_train, X_test , y_train , y_test = train_test_split(X, y , test_size= 0.2, random_state=0)

In [ ]:
# buildinf the ANN
import keras
from keras.models import Sequential

from keras.layers import Dense, Dropout, BatchNormalization


#intitialize ANN
classifier = Sequential()

# maiking the first hidden layer
classifier.add(Dense(units= 32, kernel_initializer = 'uniform', activation= 'relu', input_dim=1590))


# adding second layer
classifier.add(Dense(units= 64, kernel_initializer = 'uniform', activation= 'relu'))



# adding second layer
classifier.add(Dense(units= 64, kernel_initializer = 'uniform', activation= 'relu'))



#adding the output layer
classifier.add(Dense(units= 1, kernel_initializer = 'uniform', activation= 'linear'))

#compiling sll the layers
classifier.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])


#fitting into train set
classifier.fit(X_train,y_train,batch_size=10, epochs= 100,validation_split=0.15)

2024-07-02 08:53:25.717012: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:479] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-07-02 08:53:25.745258: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:10575] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-07-02 08:53:25.745337: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1442] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
/opt/conda/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 42s 2ms/step - loss: 139579264.0000 - mae: 6317.2617 - val_loss: 15891882.0000 - val_mae: 2289.3997
Epoch 2/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 39s 2ms/step - loss: 16834184.0000 - mae: 2331.8010 - val_loss: 15259524.0000 - val_mae: 2216.6968
Epoch 3/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 15678499.0000 - mae: 2214.3169 - val_loss: 14188303.0000 - val_mae: 2079.5222
Epoch 4/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 14929100.0000 - mae: 2137.2822 - val_loss: 13628801.0000 - val_mae: 2002.3097
Epoch 5/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 14140695.0000 - mae: 2072.6853 - val_loss: 13001693.0000 - val_mae: 1995.4226
Epoch 6/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 13353810.0000 - mae: 2007.1970 - val_loss: 12415864.0000 - val_mae: 1927.5970
Epoch 7/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 12694494.0000 - mae: 1945.0448 - val_loss: 11858655.0000 - val_mae: 1906.5826
Epoch 8/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 12087977.0000 - mae: 1892.6443 - val_loss: 11276835.0000 - val_mae: 1834.6187
Epoch 9/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 11651065.0000 - mae: 1847.3682 - val_loss: 11179019.0000 - val_mae: 1888.9562
Epoch 10/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 11217374.0000 - mae: 1805.3621 - val_loss: 11039908.0000 - val_mae: 1854.8131
Epoch 11/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 10855930.0000 - mae: 1771.6777 - val_loss: 10575668.0000 - val_mae: 1800.1625
Epoch 12/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 10811958.0000 - mae: 1765.2852 - val_loss: 10666579.0000 - val_mae: 1805.9996
Epoch 13/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 10746023.0000 - mae: 1747.0262 - val_loss: 10362840.0000 - val_mae: 1711.1598
Epoch 14/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 10566670.0000 - mae: 1724.0947 - val_loss: 10404246.0000 - val_mae: 1769.5204
Epoch 15/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 43s 2ms/step - loss: 10652829.0000 - mae: 1725.8307 - val_loss: 10209986.0000 - val_mae: 1717.3525
Epoch 16/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 10308805.0000 - mae: 1700.3992 - val_loss: 10607604.0000 - val_mae: 1844.8815
Epoch 17/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 10203200.0000 - mae: 1682.7726 - val_loss: 10020360.0000 - val_mae: 1697.9664
Epoch 18/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 10328176.0000 - mae: 1685.9231 - val_loss: 10229944.0000 - val_mae: 1646.3365
Epoch 19/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 10087476.0000 - mae: 1664.5111 - val_loss: 9941994.0000 - val_mae: 1646.9374
Epoch 20/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9804521.0000 - mae: 1634.3074 - val_loss: 9725741.0000 - val_mae: 1649.1882
Epoch 21/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 10061375.0000 - mae: 1652.7565 - val_loss: 9779403.0000 - val_mae: 1635.0980
Epoch 22/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9820685.0000 - mae: 1629.5867 - val_loss: 9927945.0000 - val_mae: 1720.9493
Epoch 23/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9812378.0000 - mae: 1622.7684 - val_loss: 9851062.0000 - val_mae: 1701.1448
Epoch 24/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9684493.0000 - mae: 1624.4380 - val_loss: 9609039.0000 - val_mae: 1637.8040
Epoch 25/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9781652.0000 - mae: 1617.8324 - val_loss: 9757349.0000 - val_mae: 1664.2571
Epoch 26/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9856645.0000 - mae: 1618.7229 - val_loss: 9685864.0000 - val_mae: 1594.5979
Epoch 27/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9528675.0000 - mae: 1593.9795 - val_loss: 9606643.0000 - val_mae: 1636.1499
Epoch 28/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9754271.0000 - mae: 1605.0557 - val_loss: 9609607.0000 - val_mae: 1636.3386
Epoch 29/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 9674893.0000 - mae: 1590.9860 - val_loss: 9588762.0000 - val_mae: 1635.9084
Epoch 30/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9544391.0000 - mae: 1594.1292 - val_loss: 10138158.0000 - val_mae: 1776.1271
Epoch 31/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 41s 2ms/step - loss: 9585348.0000 - mae: 1590.2474 - val_loss: 9480087.0000 - val_mae: 1608.8737
Epoch 32/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9572744.0000 - mae: 1583.8021 - val_loss: 10182529.0000 - val_mae: 1779.1299
Epoch 33/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9542399.0000 - mae: 1577.7350 - val_loss: 9450788.0000 - val_mae: 1590.2225
Epoch 34/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9629902.0000 - mae: 1581.3765 - val_loss: 9416740.0000 - val_mae: 1586.2869
Epoch 35/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9460086.0000 - mae: 1570.5665 - val_loss: 9393777.0000 - val_mae: 1566.3905
Epoch 36/100
20411/20411 ━━━━━━━━━━━━━━━━━━━━ 40s 2ms/step - loss: 9251991.0000 - mae: 1554.8174 - val_loss: 9455016.0000 - val_mae: 1598.3547
Epoch 37/100
15533/20411 ━━━━━━━━━━━━━━━━━━━━ 8s 2ms/step - loss: 9314127.0000 - mae: 1551.5056

In [ ]:
y_pred=classifier.predict(X_test)



plt.scatter(y_test, y_pred)
plt.xlabel('Actual Values')
plt.ylabel('Predicted Values')
plt.title('Actual vs Predicted Plot')
plt.plot([min(y_test), max(y_test)], [min(y_test), max(y_test)], color='red', linestyle='--')
plt.show()